.background-color {
  background-color: #f72210;
}

.header-logo {
  margin-top: -0.5rem;
  width: 5rem;
}

.navbar {
  padding: 0.01rem 0.1rem;
}

.btn {
  max-height: 2rem;
  min-width: 10rem;
  text-align: center;
  background-color: #ffe400;
  padding: 0.1rem 1rem;
  border-radius: 3rem;
  margin: auto 0.3rem;
}

i {
  color: rgba(255, 255, 255, 0.699);
}

.navbar p {
  margin-bottom: 0.1rem;
}

.nav-padding {
  padding: 1rem;
}

.container-fluid {
  padding: 0;
}

@media screen and (min-width: 992px) {
  .header-logo {
    margin-top: 0.1rem;
    width: 25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.ul-inline-block li {
  display: inline;
  padding: 0.2rem;
}

.ul-inline-block li +li{
  border-left: gray solid 1px;
}

.ul-inline-block {
  margin-left: 0;
  padding-left: 0;
  margin-top: 1.5rem;
}

.ul-inline-block a {
  color: black;
  font-size: 1rem;
}

input[type=text] {
  width: 3.4rem;
  border: none;
}

.fa-search {
  color: black;
}

.max-width {
  max-width: 93rem;
}
